@{
    ViewData["Title"] = "Home";
}

@* <section id="background">
<img src="~/imgs/new/Planet.png" id="planet" alt="">
<img src="~/imgs/new/Clouds.png" id="clouds" alt="">
<p id="bg-text">Metafrasi</p>
<img src="~/imgs/new/Planet2.png" id="planet2" alt="">
<img src="~/imgs/new/Space2.png" id="space" alt="">
</section> *@

<section id="background">
    <img src="~/imgs/web/Planet.webp" id="planet" alt="">
    <img src="~/imgs/web/Clouds.webp" id="clouds" alt="">
    <p class="text-center" id="bg-text">METAFRASI</p>
    <p class="text-center" id="bg-sub-text">- the site state -</p>
    <img src="~/imgs/web/Planet2.webp" id="planet2" alt="">
    <img src="~/imgs/web/Space2.webp" id="space" alt="">
</section>


<section class="home">
    <div class="home-box">
        <div class="home-content">

            <h3 class="reveal fade-bottom">Hello, It's me</h3>
            <h1 class="big-text reveal fade-right">Gummercynd</h1>
            <h3 class="reveal fade-right">And I'm a <span class="typed-text glow-text ml-[5px]"></span></h3>
            <p class="reveal fade-left">It's a pleasure to meet you</p>

            <div class="home-sci">
                <a href="#" style="--i:4" class="reveal fade-left"><i class='bx bxl-instagram'></i></a>
                <a href="#" style="--i:5" class="reveal fade-left"><i class='bx bxl-youtube'></i></a>
                <a href="#" style="--i:6" class="reveal fade-left"><i class='bx bxl-github'></i></a>
            </div>
            <a href="#" class="btn-box reveal fade-top">More About Cynd</a>
        </div>
    </div>
    <div class="cynd-box">
        <img class="reveal fade-left" src="~/imgs/Web/Cynd.webp" id="cynd" alt="" />
    </div>
</section>

<section class="about" id="about">
    <div class="about-text">
        <h2>About <span class="glow-text">Us</span></h2>
        <h4 class="text-red">A Programing Translator</h4>
        <p class="text-center text-blue">
            Metafrasi is a tool that helps developers translate code between different programming languages.
            It supports languages such as Python, JavaScript, C# and C.
            This tool can be a valuable asset for both technology students and experienced developers. It enables students to understand code and assists more experienced developers who wish to study or migrate the primary language of a project.
        </p>
        <a href="#" class="btn-box reveal fade-top">More About Us?</a>
    </div>
</section>

<section>
    <div class="services" id="services">
        <h1 class="sub-title big-text">Our <span class="glow-text">Services</span></h1>
        <div class="services-list">
            <div class="reveal fade-right">
                <i class="bx bx-code-curly glow-text" style="color: #0ef"></i>
                <h2>Code Translation!</h2>
                <p>
                    Metafrasi is able to translate code into various programming languages.
                    For instance, you can employ it to convert print("Hello World") to console.log("Hello World").
                </p>
                <a class="read reveal fade-top" href="#">learn more?</a>
            </div>
            <div class="reveal fade-right">
                <i class="bx bx-package glow-text" style="color: #0ef"></i>
                <h2>Personal Space</h2>
                <p>
                    With Metafrasi, you have the freedom to develop your projects, keep them secure, and share them with other collaborators.
                </p>
                <a class="read reveal fade-top" href="#">learn more?</a>
            </div>
            <div class="reveal fade-right">
                <i class="bx bx-headphone glow-text" style="color: #0ef"></i>
                <h2>Wholesome suport</h2>
                <p>
                    Metafrasi has a support team always available to assist, along with a feedback and improvement suggestions box.
                </p>
                <a class="read reveal fade-top" href="#">learn more?</a>
            </div>
        </div>
    </div>
</section>



<section class="languages-box">
    <h1 class="sub-title big-text">Our Suported <span class="glow-text">Languages</span></h1>
    <p class="p-info">
        <i class='bx bx-info-circle'></i> This are the languages we support. And the percentage
        represents the way to full basic tranlation
    </p>
    <div class="container-languages" id="languages">
        <div class="languages-bars">
            <div class="bar">
                <i class='bx bxl-python' style="color: #ff9900"></i>
                <div class="info">
                    <span>Python</span>
                </div>
                <div class="progress-line python reveal animate">
                    <span></span>
                </div>
            </div>
            <div class="bar">
                <p id="c-sharp-logo" style="color: #00b300">C#</p>
                <div class="info">
                    <span>C Sharp</span>
                </div>
                <div class="progress-line c-sharp reveal animate">
                    <span></span>
                </div>
            </div>
            <div class="bar">
                <i class='bx bxl-c-plus-plus' style="color: #00a2ff"></i>
                <div class="info">
                    <span>C++</span>
                </div>
                <div class="progress-line c-pp reveal animate">
                    <span></span>
                </div>
            </div>
            <div class="bar">
                <i class='bx bxl-javascript' style="color: #fbff00"></i>
                <div class="info">
                    <span>JavaScript</span>
                </div>
                <div class="progress-line js reveal animate">
                    <span></span>
                </div>
            </div>
        </div>
    </div>
</section>

<script>
    let clouds = document.getElementById("clouds");
    let planet = document.getElementById("planet");
    let planet2 = document.getElementById("planet2");
    let space = document.getElementById("space");
    let bgText = document.getElementById("bg-text");
    let subText = document.getElementById("bg-sub-text");

    let scrollValue = 0;

    const newPosition = (speed) => {
        return scrollValue * speed + 'px';
    }

    window.addEventListener('scroll', () => {
        scrollValue = window.scrollY;

        planet.style.left = newPosition(0.8);
        planet.style.top = newPosition(0.8);
        space.style.top = newPosition(0.2);
        planet2.style.top = newPosition(0.337);
        planet2.style.left = newPosition(-0.2);
        bgText.style.marginRight = newPosition(4);
        subText.style.marginLeft = newPosition(4);

    });
</script>

<script src="~/js/typing.js"></script>
<script src="~/js/site.js"></script>