<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - MetafrasiSS</title>
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/boxicons.min.css">
    @* <link rel="stylesheet" href="~/css/forms.css"> *@
    <link rel="stylesheet" href="~/css/app.css" asp-append-version="true" />
    <link rel="icon" type="image/x-icon" href="~/imgs/altIcon.svg">
    @* <script scr="~/js/alert.js"></script> *@
    <script src="https://unpkg.com/typed.js@2.0.16/dist/typed.umd.js"></script>
    <script src="~/js/smooth-scroll.polyfills.min.js"></script>
    <script>
	    var scroll = new SmoothScroll('a[href*="#"]');
    </script>
</head>

<body>
    <header class="header">
        <a asp-controller="Home" asp-action="Index" class="logo">Metafrasi SS</a>

        <nav class="navbar">
            <input type="checkbox" />
            <span id="bar-3"></span>
            <span id="bar-2"></span>
            <span id="bar-1"></span>
            <partial name="_Login.cshtml" />

        </nav>
    </header>
    <partial name="_Messages.cshtml" />
    <main id="main">
        @RenderBody()
    </main>
</body>

@* <body>
<header class="header-top">

<div class="navbar">
<div class="navbar-item navbar-title">
<a href="./home">Metafrasi SS</a>
</div>
<div class="navbar-right-container">
<div class="navbar-item">
<a class="btn-primary" href="./home">Cadastro</a>
</div>
<div class="navbar-item">
<a class="btn-primary" href="./home">Login</a>
</div>
</div>
</div>
</header>

<div class="container">
<main id="main">
@RenderBody()
</main>
</div>


<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/js/site.js" asp-append-version="true"></script>
@await RenderSectionAsync("Scripts", required: false)
</body> *@
</html>
